
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main {
    flex-grow: 1;
    padding: 50px;
    padding-left: 250px; /* no overlap with sidebar */
    margin-bottom: 500px; /* Added margin to prevent overlap with footer */
}

body {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    background: white;
    color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* Sidebar styling */
.side-bar {
    background: #1b1a1b;
    backdrop-filter: blur(15px);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar.active {
    left: 0;
}

.side-bar::-webkit-scrollbar {
    width: 0;
}

header {
    background: #33363a;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.menu-btn {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 50px;
}

.nav-links .dropdown {
    position: relative;
    margin-right: 100px;
}

.nav-links .dropdown .dropbtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #33363a;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-links .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-links .dropdown-content a:hover {
    background-color: #4a4e54;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.nav-links .finance .manufacturing .hr {
    padding-right: 5px; 
    }

.close-btn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 15px;
    cursor: pointer;
}

.side-bar .menu {
    width: 100%;
    margin-top: 20px;
}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item .sub-menu {
    background: rgb(144, 143, 143);
    display: none;
    flex-direction: column;
}

.side-bar .menu .item .sub-menu.active {
    display: flex;
}

.side-bar .menu .item a:hover {
    background: #4a4e54;
    transition: 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

/* Main content area */
.main {
    flex-grow: 1;
    padding: 50px;
    padding-left: 250px; /* no overlap with sidebar */
}

.main .app-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* space between items */
    padding: 20px; /* padding around the container */
}

.main .app-item {
    text-align: center; /* center the text, image */
}

.main .app-icon {
    width: 100px; /* size of icon */
    height: 100px;
}

.main .app-name {
    margin-top: 10px; /* space between icon and its name */
    font-weight: bold;
    color: #33363a;
}

@media (max-width: 900px) {
    .main {
        padding-left: 200px; /* Adjust padding for smaller screens */
    }
}

.search-container {
    width: 100%;
    margin: 10px auto;
    position: relative;
    background: #33363a;
    border-radius: 5px;
}

.search-box {
    width: 100%;
    padding: 10px 50px 10px 20px; /* Adjust padding for icon */
    border: none;
    background: transparent;
    color: white;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.menu .sub-header {
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    line-height: 60px;
}

.menu .item .sub-btn {
    display: flex;
    align-items: center; /* Align items vertically */
    padding: 5px 30px;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
}

.menu .item .sub-btn .dropdown {
    margin-left: auto; /* Move dropdown icon to the right */
}

.menu .item .sub-btn:hover {
    background: #33363a;
    transition: 0.3s ease;
}

/* Footer styling */
footer {
    background: #1b1a1b;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

footer .footer-content {
    display: flex;
    align-items: center;
}

footer .footer-content img {
    width: 500px;
    height: auto;
    margin-right: 80px;
    margin-left: 80px;
}

footer .footer-content .about-us {
    max-width: 800px;
}

footer .footer-content .about-us p {
    margin: 20px 20px;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .footer-content img {
        margin: 0 0 10px 0;
    }

    footer .footer-content .about-us {
        max-width: 200%;
    }
}
